<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Courses">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">course_name</Data></Cell>
        <Cell><Data ss:Type="String">CourseTitle</Data></Cell>
        <Cell><Data ss:Type="String">course_size</Data></Cell>
        <Cell><Data ss:Type="String">created_at</Data></Cell>
        <Cell><Data ss:Type="String">updated_at</Data></Cell>
      </Row>
    <% @courses.each do |course| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= course.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= course.course_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= course.CourseTitle %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= course.course_size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= course.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= course.updated_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>