<html>
<head>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag 'application' %>
	<%= yield(:head) %>
</head>
<body>
	<h2 align="center">Preference Summary</h2>
	<!-- <h6 align="center"> <%= link_to "Click here to download links to send to faculties", pref_summary_index_path(format: "xls")%></h6> -->

	<% if @showPrefSummary.empty? %>
			   <h2 align="center"> No Preference summary to display </h2>
	<% else %>
	<div class="scrollPref">
		<table id="preftable">
			<tr>
				<th>Index</th>
				<th>Faculty Name</th>
				<th>Courses Assigned</th>
				<th>Preferred Times</th>
				<th>Unacceptable Times</th>
				<th>Faculty Note</th>
			</tr>
			<tbody>
			<% id = 0 %>
			<% @faculty.each do |faculty| %>
				<tr>
					<td><%= id = id + 1 %></td>
					<td><%= faculty.faculty_name %></td>
					<td> No Courses assigned</td>
					<td>
						<%if faculty.preference == nil
							preferences = FacultyPreference.where(:id =>faculty.preference)
						
							preference1 = Preference.find_by_id(preferences.preference1_id)
							preference2 = Preference.find_by_id(preferences.preference2_id)
							preference3 = Preference.find_by_id(preferences.preference3_id)						
						%>
						<p>preference1.time_slot_id</p>
						<p>preference2.time_slot_id</p>
						<p>preference3.time_slot_id</p>
						<%else%>
							No Preference
						<%end%>
					</td>
	 
			  <% end %>
			  
					</tr>
					</tbody>
				</table>
			</div>
			<% end %>

			

		</body>
		</html>