<div style="text-align: center;"> 
  <h2 style="display: inline-block;">Edit Preferences </h2>
  <p>* = unacceptable by default</p>
  <br />
  <%= form_for :class , method: :get, url: professoraddpreference_path do |f| %>
    
    <h2 style="font-family: Arial">Preferred Times</h2>
     <table>
	     <tr>
	    	<td>
			    <%= f.select :time_slot_id1 , options_for_select(@timeslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },
			    	session[:time_slot_id1] ), {prompt: "Select Time", hide_label: :true }, 
			    	{id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
		    </td>
		    <td>
			    <%= f.select :time_slot_id2 , options_for_select(@timeslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },	    
			    	session[:time_slot_id2] ), {prompt: "Select Time", hide_label: :true }, 
			    	{ id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
	    	</td>
	    	<td> 
			      <%= f.select :time_slot_id3 , options_for_select(@timeslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },
			    	session[:time_slot_id3] ), {prompt: "Select Time", hide_label: :true }, 
			    	{ id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
	    	</td>
	    	<td> 
			      <%= f.select :time_slot_id4 , options_for_select(@timeslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },
			    	session[:time_slot_id4] ), {prompt: "Select Time", hide_label: :true }, 
			    	{ id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
	    	</td>
	    	<td> 	    
			      <%= f.select :time_slot_id5 , options_for_select(@timeslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },
			    	session[:time_slot_id5] ), {prompt: "Select Time", hide_label: :true }, 
			    	{ id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
	    	</td>
	    </tr>
    </table>   
    <br></br>
    <h2 style="font-family: Arial;">Unacceptable Times</h2>
    
    <br />
    <table>
     	<tr>
	    	<td>
	    		<%  tslot = @timeslot.reject{|slot| slot.time_slot.include? "*"}%>
			    <%= f.select :bad_time_slot_id1 , options_for_select(tslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },
			    	session[:bad_time_slot_id1] ), {prompt: "Select Time", hide_label: :true }, 
			    	{id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
		    </td>
		    <td>
			    <%= f.select :bad_time_slot_id2 , options_for_select(tslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },   
			    	session[:bad_time_slot_id2] ), {prompt: "Select Time", hide_label: :true }, 
			    	{ id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
	    	</td>
	    	<td> 
	    
				  <%= f.select :bad_time_slot_id3 , options_for_select(tslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },
					session[:bad_time_slot_id3] ), {prompt: "Select Time", hide_label: :true }, 
					{ id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
	    	</td>
	    	<td> 
			      <%= f.select :bad_time_slot_id4 , options_for_select(tslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },
			    	session[:bad_time_slot_id4] ), {prompt: "Select Time", hide_label: :true }, 
			    	{ id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
	    	</td>
	    	<td> 
			      <%= f.select :bad_time_slot_id5 , options_for_select(tslot.collect { |timeslot| [DayCombination.where("id=?",timeslot.day_combination_id).select("day_combination").take.day_combination.to_s + " " + timeslot.time_slot , timeslot.id] },
			    	session[:bad_time_slot_id5] ), {prompt: "Select Time", hide_label: :true }, 
			    	{ id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
	    	</td>
    	</tr>
    </table>   
    <br></br>
    <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
    
    <br></br>
    <br></br>
    
    <%= link_to "Back", professorhome_path%>
 <% end %>

</div>
