<div class="center jumbotron">
  <h2>Add New Faculty</h2>
  <br><br>
 

  <%= form_for :class , method: :get, url: addfaculty_path do |f| %>
  <p><%= f.label "Faculty Name" %>
      <%= f.text_field :FacultyName %> 
   </p>
   
   <p><%=f.label "Permission Level: "%>
   	<%= f.select :permission , options_for_select(@permissions.collect{|permission| permission},
  	"User" ), {prompt: "Please Select", hide_label: :true }, 
  	{id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %> 
      <br></br>
      <%= f.submit "Submit", class: "btn btn-lg btn-primary"  %>
 </p>
 
  <%= link_to "Back", root_path %>
 <% end %>

 </div>

<div class="center jumbotron">
  <h2>Import | Export Faculty</h2>
 <hr>
  <p>Export as:
    <%= link_to "CSV", faculties_path(format: "csv") %> |
    <%= link_to "Excel", faculties_path(format: "xls") %>
  </p>
  <hr>
  <p>Import with .csv/.xls/.xlsx formats</p>
  <%= form_tag import_faculties_path, multipart: true do %>
  <%= file_field_tag "file", :class => "upload_image" %>
  <br>
  <%= submit_tag "Import", class: "btn btn-lg btn-primary"%>
<% end %>
</div>