  <h2>Add New Classrooms</h2>

      <%= form_for :class , method: :get, url: addclassroom_path do |f| %>
      <p>
        <%= f.label "Building Name:" %>
        <%= f.text_field :building_name %>
      </p>
      <p>
        <%= f.label "Room Number:" %>
        <%= f.text_field :room_name %>
      </p>
       <p>
        <%= f.label "Room Capacity:" %>
        <input type="text" name="class[room_capacity]" id="classroomcapacity"/>&nbsp;<span id="capacityerrmsg"></span>
      </p>
      <%= f.submit "Add New Class",class:"btn btn-primary" %>
      <% end %>
