  <div class="center jumbotron">
    
  
  <h2>Add New Classrooms</h2>
  <br>
      <%= form_for :class , method: :get, url: addclassroom_path do |f| %>
      <p>
        <%= f.label "Building Name:" %>
        <%= f.text_field :building_name %>
      </p>
      <p>
        <%= f.label "Room Number:" %>
        <%= f.text_field :room_name %>
      </p>
       <p>
        <%= f.label "Room Capacity:" %>
        <input type="text" name="class[room_capacity]" id="classroomcapacity"/>&nbsp;<span id="capacityerrmsg"></span>
      </p>
      <p>
         <%= f.submit "Add New Classroom",class:"btn btn-primary" %>
      </p>
     
       
       <%= link_to "Back", root_path %>
      <% end %>
  <br>
</div>

  <h2>List of available classrooms</h2> 
  <table id="classtable" class="table table-bordered">
    <tr>
     <th> Room Name </th>
     <th> Capacity </th>
    </tr>
    <tbody>
    <% @allRooms.each do |room| %>
    <tr>
     <td> <%= room.room_name %> </td>
     <td> <%= room.Capacity %> </td>
    </tr>
    <% end %>
    </tbody>
  </table>
